<template>
  <form class="p-form p-form--inline">
    <div class="list grid">
      <div class="row">
        <div class="col-md-8">
          <div class="input-group mb-3">
            <h3><b>Add a URL</b></h3>
            <div v-if="!submitted">
              <div class="p-form__group">
                <label for='newUrlInput' class="p-form__label">https://pbid.io/</label>
                <div>
                  <input
                    type="text"
                    id="newUrlInput"
                    class="p-form__control is-dense"
                    placeholder="New URL..."
                    v-model="newUrl.longUrl"
                    name="newUrlInput"
                  />
                  <p v-if="showAlert" style="color: red;">Please enter a URL...</p>
                </div>
                
              </div>
              <button
                id="addNewUrlButton"
                class="p-button--positive"
                type="button"
                @click="saveUrl"
                name="addNewUrlButton"
              >
                Add URL
              </button>
            </div>

            <div v-else>
              <h4>Url added successfully!</h4>
              <button id="addAnotherUrlButton" class="p-button" @click="addNewUrl">Add Another New Url</button>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-6">
          <h3><b>URL List</b></h3>
          <ul class="url_list">
            <li
              class="p-list__item"
              :class="{ active: index == currentIndex }"
              v-for="(url, index) in urls.urls"
              :key="index"
              @click="setActiveUrl(url, index)"
              style="padding: 5px;"
            >
              {{ url.shortUrl }}
            </li>
          </ul>

          <button class="p-button--negative" @click="removeAllUrls">
            Remove All
          </button>
        </div>

        <div class="col-6">
          <h4 class="p-button--brand"><b>Url Details</b></h4>
          <div v-if="currentUrl._id">
            <div id="original_url">
              <label><strong>Original Url:</strong></label> {{ currentUrl.longUrl }}
            </div>
          </div>
          <div v-else>
            <p id="clickDetail">Please click on a URL...</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script lang="ts" type="module">
import { Component, Vue } from "vue-property-decorator";
import UrlDataService from "./../services/UrlDataService";
/* eslint-disable import/first */
// import VueSimpleAlert from "vue-simple-alert";
import Url from "./../types/Url";
require('jsdom-global');
// Vue.use(VueSimpleAlert);

@Component
export default class UrlsList extends Vue {
  data() {
    return {
      newUrl: {
        _id: null,
        shortUrl: "",
        longUrl: ""
      },
      submitted: false,
      urls: [],
      currentUrl: {},
      currentIndex: -1,
      showAlert: false
    }
  }
  // // New Url properties
  // newUrl: Url = {
  //   _id: null,
  //   shortUrl: "",
  //   longUrl: ""
  // };
  // private submitted: boolean = false;

  // Url list properties
  // private urls: Url[] = [];
  // private currentUrl = {} as Url;
  // private currentIndex: number = -1;
  // private title: string = "";

  // New Url methods
  saveUrl() {
    if (this.$data.newUrl.longUrl == "") {
    //  this.$alert("Please enter the URL");
     this.$data.showAlert = true
     return
    }
    this.$data.showAlert = false
    let data = {
      url: this.$data.newUrl.longUrl,
    };

    UrlDataService.create(data)
      .then((response) => {
        this.$data.newUrl._id = response.data._id;
        console.log(response.data);
        this.$data.submitted = true;
        this.refreshList();
      })
      .catch((e) => {
        console.log(e);
      });
  }

  addNewUrl() {
    this.$data.submitted = false;
    this.$data.newUrl = {
      _id: null,
      shortUrl: "",
      longUrl: ""
    } as Url;
  }

  retrieveUrls() {
    UrlDataService.getAll()
      .then((response) => {
        this.$data.urls = response.data;
        console.log(response.data);
      })
      .catch((e) => {
        console.log(e);
      });
  }

  refreshList() {
    this.retrieveUrls();
    this.$data.currentUrl = {} as Url;
    this.$data.currentIndex = -1;
  }

  setActiveUrl(url: Url, index: number) {
    this.$data.currentUrl = url;
    this.$data.currentIndex = index;
  }

  removeAllUrls() {
    UrlDataService.deleteAll()
      .then((response: any) => {
        console.log(response.data);
        this.refreshList();
      })
      .catch((e: any) => {
        console.log(e);
      });
  }

  mounted() {
    this.retrieveUrls();
  }
}
</script>

<style scoped>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.url_list:hover li:hover {
  background-color: lightgray;
  transition: background-color .3s;
  cursor: pointer;
}
</style>